
@{
    ViewBag.Title = "Index";
}

<h2>Detenidos Reportados en Celdas</h2>
<br />

<div class="row">
    <div class="col-md-8">
        <a class="btn btn-warning btn-new text-white" data-toggle="modal" data-target="#modal-ingreso"><i class="icon-plus"></i> Ingreso </a>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <h5>Exportar</h5>
        <a class="btn btn-success" id="btn-export-RptConciliacion"><i class="icon-file-excel"></i> </a>
    </div>

    <div class="col-md-3">
            <h5>Fecha Inicio</h5>
            <div class="form-group">
                <input type="date" class="form-control" id="ingreso-inicio" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
    </div>

    <div class="col-md-3">
        <h5>Fecha Final</h5>
        <div class="form-group">
            <div class="input-group">
                <input type="date" class="form-control" id="ingreso-final" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-BuscarIngreso"><i class="icon-search4"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table" id="table-RptConciliacion">
            <thead>
                <tr>
                    <th>N&deg;</th>
                    <th>Nombre Registra</th>
                    <th>Delegacion</th>
                    <th>Fecha Ingreso</th>
                    <th>Total Detenidos</th>
                    <th>Recibido Dia</th>
                    <th>Ingreso Delito</th>
                    <th>Ingreso Falta</th>
                    <th>Ingreso Transito</th>
                    <th>Egreso Orden Libertad</th>
                    <th>Egreso Traslado SPN</th>
                    <th>Egreso Traslado Otra Delegacion</th>                   
                    <th><i class="icon-android-share-alt"></i></th>
                </tr>
            </thead>
            <tbody id="table-result-conciliacion"></tbody>
        </table>


    </div>
</div>

@section Modals
{

    @Html.Partial("~/Views/Conciliacion/_PartialIngreso.cshtml")
}
@section scripts
{
    <script src="~/resources/plugins/export/jquery.table2excel.js"></script>
    <script src="~/resources/libraries/Conciliacion.js?v=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">

        Conciliacion.ToList_Conciliacion();

        //Calcular el total de detenido por medio de la funcion change
        $("#ingreso-Form").change(function () {
            TotalDetenido();
        });

        //Guardado de la conciliacion
        $("#ingreso-Form").submit(function (e) {
            e.preventDefault();
            Conciliacion.Save_Conciliar();
            $("#modal-ingreso").modal("hide");
            Conciliacion.ToList_Conciliacion();
        });


        //busqueda por filtro de fecha
        $(".btn-BuscarIngreso").click(function () {
            Conciliacion.ToList_Conciliacion();
        });

        //Exportar en Excel la conciliacion
        $("#btn-export-RptConciliacion").click(function () {

            $("#table-RptConciliacion").table2excel({
                exclude: ".excludeThisClass",
                name: "Conciliacion",
                filename: "RptConciliacion_(@DateTime.Now.ToShortTimeString()).xls", // do include extension
                preserveColors: true // set to true if you want background colors and font colors preserved
            });

        });

    </script>
}
@section styles
{
    <link href="~/resources/Alerta/sweetalert2.css" rel="stylesheet" />
    <link href="~/resources/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
}

