
@{
    ViewBag.Title = "Index";
}

<h2>Busqueda Especifica de Detenido</h2>

<div class="row">
    <div class="col-md-3">
        <select class="form-control" id="busqueda-tipo" required>
            <option value="">SELECCIONE</option>
            <option value="1">NOMBRE COMPLETO</option>
            <option value="2">IDENTIFICACION</option>
        </select>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="busqueda-descripcion" required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-busqueda"><i class="icon-search1"></i></button>
                </span>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table DataTable" id="listBusNombre">
            <thead>

                <tr>
                    <th>Foto</th>
                    <th> Nombre Completo </th>
                    <th> Identificación</th>
                    <th> Fecha Detencion </th>
                    <th><i class="icon-android-share-alt"></i></th>
                </tr>

            </thead>
            <tbody id="table-result-detenido"></tbody>
        </table>


    </div>
    @*<div class="col-lg-4 col-md-6 col-sm-12" pre-scrollable">

            <ul class="list-group" id="datos-detenido">
                <li class="list-group-item">
                    <a href="#">
                        <img class="img-thumbnail img-fluid " src="~/resources/Imagenes/detenido.png" width="100" />
                        <h4>Nombre Detenido </h4>
                        <h5 style="clear:both;">identificacion</h5>
                        <p>Fecha Detencion</p>

                    </a>
                </li>
            </ul>

        </div>*@
</div>

@section scripts
{
    <script src="~/resources/libraries/Busqueda.js?v=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">

        $(".btn-busqueda").click(function () {
            Busqueda.ToList_Detenido();
        });

        $("#table-result-detenido").on("click", "tr td .btn-datos", function () {

            Cargar_ReporteDetenido($(this).attr("data-index"));

        });


    </script>
}
@section styles
{
    <link href="~/resources/Alerta/sweetalert2.css" rel="stylesheet" />
    <link href="~/resources/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
}
