<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" id="modal-datosDetenido">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">

            <form action="" method="post" id="FiltroD-Form">

                <div class="modal-header">
                    <h4 class="modal-title">Filtro por Delegacion y Fecha</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body  pre-scrollable">

                    @*<div class="row">
                        <div class="col-md-4">
                            <select id="Estd_Departamento" class="form-control">
                                <option value="">DEPARTAMENTO</option>

                            </select>

                        </div>

                        <div class="col-md-4">
                            <select id="Estd_Municipio" class="form-control">
                                <option value="">MUNICIPIO</option>
                            </select>

                        </div>

                        <div class="col-md-4">
                            <select id="Estd_Delegacion" class="form-control">
                                <option value="">DELEGACION</option>
                            </select>

                        </div>

                    </div>
                    <br />*@

                    <div class="row">

                        <div class="col-md-4">
                            <input type="date" class="form-control" id="Estd-inicio" />

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="date" class="form-control" id="Estd-final" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info btn-BuscarFiltroD"><i class="icon-search1"></i></button>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                        </div>


                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>