
@{
    ViewBag.Title = "ConsolidadoPermanencia";
}

<h2>Consolidado de Permanencia</h2>
<br />

<div class="modal-body">

    <div class="row">

        <div class="col-md-1">
            <h5>Exportar</h5>
            <a class="btn btn-success" id="btn-export-RptArma"><i class="icon-file-excel-o"></i> </a>
        </div>

        <div class="col-md-3">
            <h5>Fecha Inicio</h5>
            <div class="form-group">
                <input type="date" class="form-control" id="permanencia-inicio" required />
            </div>
        </div>

        <div class="col-md-3">
            <h5>Fecha Final</h5>
            <div class="form-group">
                <div class="input-group">
                    <input type="date" class="form-control" id="permanencia-final" required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-BuscarFiltro"><i class="icon-search4"></i></button>
                    </span>
                </div>
                
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="table-responsive" style="margin-top:10px;">

                <table class="table table-bordered" id="listPermanencia">
                    <thead>
                        <tr>
                            <th>Departamento</th>
                            <th>Total Celda</th>
                            <th>Capacidad Celda</th>
                            <th>Recibido Turno</th>
                            <tH>Egresos</tH>
                            <th>Ingreso</th>
                            <th>Hombre Adulto</th>
                            <th>Mujer Adulta</th>
                            <th>Hombre Adolescente</th>
                            <th>Mujer Adolescente</th>
                            <th>Total Genero</th>
                            <th>Proceso Investigativo</th>
                            <th>Juzgado local Penal</th>
                            <th>Juzgado Distrito Penal</th>
                            <th>Juzgado Adolescente</th>
                            <th>Detenido Condenado</th>
                            <th>Total Detenido</th>
                        </tr>
                    </thead>
                    <tbody id="table-result-permanencia"></tbody>
                </table>

            </div>

        </div>
    </div>

</div>

@section scripts
{
    <script src="~/resources/plugins/export/jquery.table2excel.js"></script>
    <script src="~/resources/libraries/Estadistica.js?v=@DateTime.Now.Second.ToString()"></script>
    <script type="text/javascript">

        Estadistica.ToList_Permanecia();

        $(".btn-BuscarFiltro").click(function () {
            Estadistica.ToList_Permanecia();
        });

        $("#table-result-permanencia").on("click", "tr td .Btn-VerDepartamento", function () {
            Estadistica.ToListMunicipio_Permanencia($(this).attr("data-index"));
        });

    </script>
}