<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
          </startup>
  <connectionStrings>
       
    <add name="ConexionServiciosPN" connectionString="data source=PNSQLXX;initial catalog=SERVICIOS;user id=Sectorizar;password=S3ct0riz@#123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  </configuration>

<!--NOTA IMPORTANTE-->
<!-- EN connectionStrings  solo se debe cambiar el catalog, id y contraseña nada mas para que la conexion del filtarado no se interrumpa-->
<!-- ya que usamos el system.configuration de using system.data.sqlclient-->
